html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.jumbotron, .navbar {
    background-color: #563d7c;
}

.h1 {
    font-family: 'Roboto Slab', serif;
}

footer, footer > p {
    background: #776396;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
}