html, body{
    margin: 0;
}

.jumbotron, .card-block, .navbar {
    background-color: #563d7c;
}
#subtitle {
    color: #cbbde2;
}

footer, footer > p {
    background: #776396;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
}

#hi_my_name_is {
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}

.h1 {
    font-family: 'Roboto Slab', serif;
}

#subtitile_caption {
    font-family: 'Roboto Slab', serif;
    font-family: 'Lato', sans-serif;
}

.card-title {
    font-family: 'Raleway', sans-serif;
}